*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    background-color: #f902af;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 163, 227);

}
nav a {
    text-decoration: none;
    color:#9e0d99;}
section{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 0;
    margin:auto;
    border-bottom: 1px solid #ccc;
    max-width: 800px;
}
#habilidades ul {
    display:flex;
    list-style:none;
    gap: 10px;
}
#habilidades li{
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 8px;

}
img {
   max-width: 100%;
    border-radius: 50%;
   
}
@media (max-width :600px){
    nav{
        flex-direction: column;
        align-items: center;

    }
}
#habilidades ul{
    flex-direction: column;
    
}
footer {
  display: flex;
  justify-content: center;  /* centra los links */
  gap: 20px;                /* espacio entre cada link */
  padding: 20px 0;
  border-top: 1px solid #000000;
  background-color: #ff18b2;
}

footer a {
  color: white;
  text-decoration: none;
}